ion-header ion-toolbar:first-of-type {
    padding-top: 0px;
}

.user-photo ion-avatar {
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }

  #img-bkg {
    background-color: var(#d7d8da);
  }

  ion-list {
    margin-top: 12px;
    p {
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 4px;
    };
    h2 {
      font-weight: 400;
      opacity: .5;
    }
  }

  .saveBtn {
    margin: 0 auto;
  }


  .rowcenter{
      margin-left: auto;
      width: 85%;
      display: block;
  }