<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/tablinks/pay"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'tab1.cgut' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'tab1.cgun' | translate }} </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ 'tab1.notice' | translate }}
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'tab1.titlegcu' | translate }} </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ 'tab1.ctn' | translate }}
    </ion-card-content>
  </ion-card>


</ion-content>
