<ion-content>
  <br/>
  <div id="headeri">
    <img class="imge" src="assets/premium.png" />
  </div>

  <P style="padding: 20px;text-align: justify;">
    {{ 'tab1.premiumtext1' | translate }}<br/>
    {{ 'tab1.premiumtext2' | translate }}<br/>
    {{ 'tab1.premiumtext3' | translate }}<br/>
    {{ 'tab1.premiumtext4' | translate }}<br/>
    {{ 'tab1.premiumtext5' | translate }}<br/>
    {{ 'tab1.premiumtext6' | translate }}<br/>
  </P>

  <ion-button style="text-align: center;display: block;margin-left: auto;margin-right: auto;width: 50%;" (click)="pay()" expand="small" shape="round">{{ 'tab1.premiumnow' | translate }}</ion-button>
</ion-content>
