<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons color="primary"  slot="start">
        <ion-back-button color="primary" icon="chevron-back-outline" defaultHref="/tablinks/pay"> </ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="display:block; margin-left: auto;margin-right: auto; width: 100px; height: 100px;" src="assets/Rigolaz.png"></ion-img>
  
  <form id="form">
    <ion-item class="ion-margin-bottom">
      <input placeholder="Pseudo" [(ngModel)]="pseudo" name="pseudo"/>
    </ion-item>

    <ion-item class="ion-margin-bottom">
     
      <input  [(ngModel)]="cpt" name="cpt" [placeholder]='"tab1.numero" | translate'/>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <input placeholder="Email" [(ngModel)]="email" type="email" name="email"/>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label>{{ 'tab1.nee' | translate }} : </ion-label>
      <ion-datetime [(ngModel)]="born"  name="born" displayFormat="MM DD YYYY"></ion-datetime>
    </ion-item>


    <ion-item class="ion-margin-bottom">
      <ion-label>{{ 'tab1.sexe' | translate }}</ion-label>
      <ion-select name="sex" [(ngModel)]="sex" [placeholder]='"tab1.selectOne" | translate'>
        <ion-select-option value="Féminin">{{ 'tab1.feminin' | translate }}</ion-select-option>
        <ion-select-option value="Masculin">{{ 'tab1.masculin' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item class="ion-margin-bottom">
      <input type="password" [(ngModel)]="password" [placeholder]='"tab1.password" | translate'  name="password"/>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <input type="password" [(ngModel)]="cpassword" [placeholder]='"tab1.passwordconfirm" | translate'  name="password"/>
    </ion-item>


    
    <ion-button (click)="signUp()" expand="block" >{{ 'tab1.joinus' | translate }}</ion-button>
  </form>


  <!-- <p>{{ 'tab1.term1' | translate }} <br />{{ 'tab1.term2' | translate }}</p> -->
</ion-content>
<ion-footer class="footing">
  <span style="color:#809593;">{{ 'tab1.already' | translate }}</span><span style="color:#625FEA;" routerLink="/login">{{ 'tab1.login' | translate }}</span>
</ion-footer>